
.theme-color{
    display: inline-block;
    width: 25%;
    height: 20px;  
    margin-top: 5px;
}

#customize-control-theme_color label {
    margin-left: 0;
}

li#customize-control-relia_preset_theme_color label {
    margin: 5px 0 5px 0;
}
